@model List<SchoolManagement.Models.ChamDiem>

@{
    ViewData["Title"] = "Kết Quả";
}

<h1>Kết Quả</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Mã Kỹ Năng</th>
                <th>Điểm</th>
                <!-- Các cột khác có thể thêm tùy thuộc vào cần hiển thị -->
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model)
            {
                <tr>
                    <td>@result.MaKyNang - @result.MaKyNangNavigation.TenKyNang</td>
                    <td>@result.Dat</td>
                    <!-- Hiển thị thông tin khác tương ứng -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Không có kết quả nào được tìm thấy.</p>
}
