@model SchoolManagement.Models.Admin

@{
    ViewData["Title"] = "Thông Tin Cá Nhân";
}

<h1>Thông Tin Cá Nhân</h1>

<div>
    <p><strong>Mã :</strong> @Model.MaAdmin</p>
    <p><strong>Tên:</strong> @Model.TenAdmin</p>
 
    
    <!-- Các thông tin cá nhân khác có thể thêm tùy theo yêu cầu -->
</div>
